<!DOCTYPE html>

<html>

<head>

  <title>Weather Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="shortcut icon" href="{% static "imgs/favicon.ico" %}" type="image/x-icon">
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <style>
    body, html {
      height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    }

    .bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
    .nv :hover, .nv :focus{
    color: #ff6600;
    }

    .nav-link{
      color: #888;
    }

    .yoh{
        width: 45%;
      }

    .ddp :focus, .ddp:active{
      background: #ff6600 !important;
    }

    @media (max-width: 767.98px) {
      .yoh{
        width: 90%;
      }
    }
  </style>    
    
</head>

<body>


<nav style="background: #455668;">
    <div class="nav justify-content-end mb-2 mr-2 mr-sm-3">
    <!--<img src="">-->
  <span class="text-white-50 text-right align-bottom"><img src="{% static fn %}" height="20px" width="20px" style="border-radius: 50%;">&ensp;</span>
  <!--dropdown menu-->
  <div class="dropdown">
  <a class="dropdown-toggle text-white-50 text-right " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item ddp" href="{% url 'profile' %}">Settings</a>
    <a class="dropdown-item ddp" href="#Modal3" data-toggle="modal">Change Password</a>
    <a class="dropdown-item ddp" href="#Modal6" data-toggle="modal">Delete Account</a>
    <a class="dropdown-item ddp" href="{% url 'logout' %}">Logout</a>
  </div>
  </div>
	</div>

	<div class="w-100 justify-content-sm-left nav" style="background: #eee;" id="navbarSupportedContent">
	  <div style="background:white; height: 100px; width: 100px; margin: 10px;">
      {% load static %}
      <img src="{% static 'imgs/logo.jpg' %}" height="100px" width="100px"></div>
	  <div class="ml-2">
	  <div class="row align-items-start">
	  <div class="col" style="background: #eee; margin-left: 15px !important; margin-top: 15px !important; padding-left: 0 !important;">
	    <h2 class="text-dark text-left" style="margin-right: auto;">Company</h2>
	  </div>
	  </div>
	  <div class="row align-items-start" style="margin-top: 10px;">
	  <div class="col"  style="margin-left: 0 !important;">
      <ul class="nav justify-content-left"  style="margin-left: -15px !important; padding-left: 0 !important;">
		<li class="nav-item nv actt">
      <a style="color: #ff6600;" class="nav-link" href="LoggedIn.php">HOME</a>
		</li>
		<li class="nav-item nv">
		  <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
		</li>
		<li class="nav-item nv">
		  <a class="nav-link" href="contact.php" target="blank">CONTACT US</a>
		</li>
	  </ul>
	  </div>
	  </div>
	  </div>
	</div>
  </nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="page-footer font-small pt-2" id="cnt" style="background-color: #455668;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mb-0">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3 align-items-center">
      	<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-0">
          <a href="{% url 'logout' %}" style="color: #fff;">Logout</a>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-0">
          <a href="{% url 'about' %}" style="color: #fff;">About</a>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-0">
          <a href="contact.php" target="blank" style="color: #fff;">Contact Us</a>
        </div>
      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left text-white">© 2019 Copyright:
            <a class="text-white" href="#!">
              <strong>BlackThunder Corp.</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/ISTE.VIT/" target="blank" class="btn-floating btn rgba-white-slight mx-1">
                  <i class="fab fa-facebook fa-lg" style="color: #3B5998; background:#fff; width: 80%;"></i>
                </a>
              </li>
              <li class="list-inline-item" >
                <a href="https://www.instagram.com/iste_vit_vellore/" class="btn-floating btn rgba-white-slight mx-1">
                  <i class="fab fa-instagram fa-lg text-center" style="color: #fff; background: linear-gradient(60deg, #ffdc7d, #f46f30, #c32aa3, #7232bd);"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/indian-society-for-technical-education/" target="blank" class="btn-floating btn rgba-white-slight mx-1">
                  <i class="fab fa-linkedin fa-lg" style="color: #0077B5; background:#fff; width: 80%;"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  {% load static %}
  <script src="{% static "js/bootstrap.js" %}"></script>

  {% block scrpt %}
  {% endblock %}

</body>

</html>
