{% extends "base.html" %}

{% block content %}
	<h4 class="text-white">Enter your registered <br> email.</h4>
  	<br><br><br><br>

	<form action="" method="post">
		{% csrf_token %}
		{% if form.email.errors %}
		  {{ form.email.errors }}
		{% endif %}
			<!--<p>{{ form.email }}</p>-->
			<div class="form-group mr-sm-3 mb-2">
        		<label for="id_email" class="sr-only">User ID</label>
  				<input id="your_email" type="email" style="border-radius: 0;" class="form-control-lg form-control" placeholder="Enter email id" name="email">
  		<!--{{ form.username }}-->
      		</div>
      		<button type="submit" value="Reset password" class="btn btn-outline-light ml-sm-2 mb-2" style="border-radius: 50px" name="submit">&emsp;&emsp;Submit &emsp;&emsp;</button>
    </form>

{% endblock %}